<div id="container">
<div id="action_pane">	
	<%= start_bubble_wrap("blue","black") %>Create a New Game<%= end_bubble_wrap("blue","black") %>
	
	<%= start_bubble_wrap("light_blue","black") %>	

	<%= debug @json_packet %>


<%= end_bubble_wrap("light_blue","black") %>
</div>
</div>