<div id="secondary_nav"><%= render :partial => 'secondary_nav' %></div>
<div id="main_nav"><%= render :partial => 'main_nav' %></div>
<div id="status_area">
	<%= render :partial => 'status_area' %>
</div>