<% if @user.account.balance > 0 %>
<% @session[:last_last_roll] = @last_roll %>
<% @session[:roll] = Dice.roll %>
<% number = @last_roll || 5 %>
<%= link_to image_tag("/images/#{number}.gif", :alt => "Roll"), :update => "buildings_pane", :loading => "scroll(#{@session[:roll]});", :complete => "end_scroll();", :url => {:action=> 'scroll'} %>
<% end %>