<div id="secondary_nav"><%= render :partial => 'play/secondary_nav' %></div>
<div id="main_nav"><%= render :partial => 'play/main_nav' %></div>
<div id="roll_nav"><%= render :partial => 'play/non_ajax_roll_nav' %></div>
<div id="messages"><%= render :partial => 'play/no_messages' %></div>