<div id="profile_window" style="position:absolute;top:10px;left:10px;width:397px;height:640px;z-index:0;">
	<%= @player.name %>'s profile is coming soon!
</div>
<div style="position:absolute;z-index:5;left:330px;"><%= link_to_remote "Back", :update => "action_window", :url => {:action=> 'index'} %></div>
