<div id="container">
    <div id="action_pane">	
    	<%= start_bubble_wrap("blue","black") %>About<%= end_bubble_wrap("blue","black") %>
	
    	<%= start_bubble_wrap("light_blue","black") %>
    	    <p>
    			<b style="color:#F13497;">The Idea</b><br />
    			So the concept is very simple. Start off with some cash, roll the dice, and land on a square. Depending on the type of square, you'll either win some cash, be able to do nothing, buy a building, or pay rent. The object of the game is to land on buyable squares and end up building an empire of hotels. The primary source of revenue comes from other players landing on your buildings. Simple, yet fun.
    		</p>
    		<p>
    			<b style="color:#F13497;">History</b><br />
    			The idea for the game has been floating around for several years. <a href="http://www.errorik.com">Erik</a> and I spent a lot of time refining ideas for the game, and eventually I ripped it out using Rails. For the full scoop, read this <a href="http://blog.llor.nu/2005/09/about_llornu.html">blog entry announcing the game</a>.	
    		</p>
    		<p>
    			<b style="color:#F13497;">Technology</b><br />
    			The game uses <a href="http://www.rubyonrails.com">Ruby on Rails</a> for the server side scripting, <a href="http://prototype.conio.net/">Prototype</a> and <a href="http://script.aculo.us/">Scriptaculous</a> for <a href="http://www.adaptivepath.com/publications/essays/archives/000385.php">Ajax</a> and nice effects, and <a href="http://www.crockford.com/JSON/index.html">JSON</a> to talk between server and webbrowser.
    		<p>
    		<p>It uses <a href="http://www.mysql.com">MySQL</a> for the database server, and currently runs on a single AMD 2700+ Server with 2 Gigs of RAM running <a href="http://freebsd.org">FreeBSD</a>. <a href="http://www.errorik.com">Erik Goodlad</a> has graciously provided bandwidth and colocation space.</p>
    		<p>
    			<b style="color:#F13497;">Contributors</b><br />
    			<a href="http://www.michaelbuffington.com">Michael Buffington</a> - That's me. I do design work, ISO pixel art, Ruby on Rails work, maintain the game, the forums, and am the public face to the game.
    		</p>
    		<p><a href="http://www.errorik.com">Erik Goodlad</a> - Major guinea pig, good listener, and provides bandwidth and hardware support.</p>
    		<p>Jason Buffington - Game theorist and major tester, brother. Jason helped refine a lot of the initial ideas, and helped test the heck out of the first version.</p>
    		<p><a href="http://habtm.com">Court3nay</a> - Core team member. Courtenay has done a ton of refactoring since making the project Open Source, and helped almost every day prior to that by bailing me out of weird issues.</p>
    		<p>Dreamer31 - Core team member. Responsible for optimizing the Ajax calls and implementing the killer JSON engine. Also the 56k tester (the man does it all over 56k).</p>
    		
    	<%= end_bubble_wrap("light_blue","black") %>
    </div>
</div>