<% for column in PropertyType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @property_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @property_type %> |
<%= link_to 'Back', :action => 'list' %>
