development:
  adapter: mysql
  database: llor_dev
  host: localhost
  username: root
  password:
  socket: 

test:
  adapter: mysql
  database: llor_test
  host: localhost
  username: root
  password:
  socket: 

production:
  adapter: mysql
  database: llor_prod
  host: localhost
  username: llor
  password: password
  socket: 