<div class="user_password">
  <%= form_input :hidden_field, 'form', :value => 'change_password' %>

  <table>
    <%= form_input :password_field, "password", :size => 30 %>
    <%= form_input :password_field, "password_confirmation", :size => 30 %>
    <% if submit %>
      <%= form_input :submit_button, 'change_password' %>
    <% end %>
  </table>
</div>                                                                          