<div title="<%= title_helper %>" class="memo">
  <%= head_helper :notice => false, :message => false %>

  <p><%= message_helper 'logged_off' %>

  <%= link_helper 'logout_login', :action => 'login' %>
</div>

