Dear <%= @name %>,

Your password has been changed.

Your new login credentials are:

  login:    <%= @login %>
  password: <%= @password %>
 
<%= @url %>

NOTE: A robot sent this out. If you reply to it, you probably won't get a response.