Greetings!

You put yourself on the waiting list to be invited into llor.nu, and I'm here to tell you that your wait is over.

Go here to begin:
http://llor.nu/join?sneaky=yes

I'd appreciate you keeping the URL secret for now. It's the sneaky back door, and I don't want to change it. Share it with your close friends, but don't blog about it.

Thanks!

Michael Buffington
http://llor.nu
http://forums.llor.nu
http://michaelbuffington.com