Dear <%= @name %>,

Here's how you change your password:

Click the link below and you can choose a new password.

<a href="<%= @url%>">Click me!</a>
 
<%= @url %>

NOTE: A robot sent this out. If you reply to it, you probably won't get a response.