<html>
<head>
  <title>llor.nu</title>
  <%= stylesheet_link_tag 'basic' %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "effects" %>
  <%= javascript_include_tag "dragdrop" %>
  <%= javascript_include_tag "controller" %>
  <%= javascript_include_tag "custom" %>
</head>
<body>
	
<%= @content_for_layout %>

</body>
</html>
